/PoklEditor/.gradle
/PoklEditor/gradle
/PoklEditor/.idea
/PoklEditor/.settings
/PoklEditor/bin
/PoklEditor/build
/Poklmon/.gradle
/Poklmon/gradle
/Poklmon/.idea
/Poklmon/.settings
/Poklmon/bin
/Poklmon/build
/PoklLib/.gradle
/PoklLib/gradle
/PoklLib/.idea
/PoklLib/.settings
/PoklLib/bin
/PoklLib/build
.gradle
.idea