/PoklEditor/.gradle
/PoklEditor/gradle
/PoklEditor/.idea
/PoklEditor/.settings
/PoklEditor/bin
/PoklEditor/build
/Poklmon/.gradle
/Poklmon/gradle
/Poklmon/.idea
/Poklmon/.settings
/Poklmon/bin
/Poklmon/build
/PoklEditor/.gradle
/PoklEditor/gradle
/PoklEditor/.idea
/PoklEditor/.settings
/PoklEditor/bin
/PoklEditor/build
.gradle
.idea