/PoklEditor/.gradle
/PoklEditor/.idea
/PoklEditor/.settings
/PoklEditor/bin
/PoklEditor/build
/PoklEditor/local.properties
/Poklmon/.gradle
/Poklmon/.idea
/Poklmon/.settings
/Poklmon/local.properties
/Poklmon/bin
/Poklmon/build
/PoklLib/.gradle
/PoklLib/.idea
/PoklLib/.settings
/PoklLib/bin
/PoklLib/build
/PoklLib/local.properties
.gradle
.idea
/Poklmon/assets/data/poklmon-debug.data
/Poklmon/gradle.properties
/.idea
